a {
  cursor: pointer;
}

.errorMessage {
  color: #9f3a38;
}

.warningMessage {
  color: #573a08;
}

.warningMessage,
.errorMessage {
  position: relative;
  top: -1em;
}

.margin-bottom {
  margin-bottom: 1em !important;
}
